EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=
EXPO_PUBLIC_SUPABASE_STORAGE_BUCKET=sale-receipts

EXPO_PUBLIC_TRANSFER_BANK_NAME=
EXPO_PUBLIC_TRANSFER_ACCOUNT_TYPE=
EXPO_PUBLIC_TRANSFER_ACCOUNT_NUMBER=
EXPO_PUBLIC_TRANSFER_ACCOUNT_HOLDER=
EXPO_PUBLIC_TRANSFER_RUT=
EXPO_PUBLIC_TRANSFER_EMAIL=
